
@{
    ViewBag.Title = "Chủ đề";
}


<div class="container">
    <h2>Chủ đề</h2>
    <p>Tham khảo và nghiên cứu đề tài qua những nguồn:</p>
    <a href="https://www.kiotviet.vn" target="_blank">  https://www.kiotviet.vn</a> <br />
     <a href="https://datatables.net/" target="_blank">  https://datatables.net/ </a><br />
    <a href=" https://www.w3schools.com/" target="_blank">  https://www.w3schools.com/ </a>
</div>
