
@{
    ViewBag.Title = "Hỗ trợ";
}
<div class="container">
    <h2>Support</h2>
    <p>Đây là đồ án của Nguyễn Thái Bảo</p>
    <p>MSSV: 210262</p>
    <p>Nếu có bất kỳ vấn đề gì về trang web và quản lý vui lòng liên hệ qua SĐT:0384064947</p>
</div>
