@*@model QuanLyBanHang.Models.User*@
@{
    ViewBag.Title = "Thay đổi mật khẩu";
}
<div class="container">
    <h3>Đặt lại mật khẩu</h3>
    <hr />


    <form action="~/Login/ChangePassWord" method="post" class="login">
        Tên tài khoản:
        <input type="text" value="@ViewBag.User.UserName" class="form-control" placeholder="Username" autofocus required name="UserName" readonly />
        <br />
        Mật khẩu cũ:
        <input type="password" placeholder="Password" class="form-control" required name="PassWord" />
        <br />
        Mật khẩu mới:
        <input type="password" placeholder="New PassWord" class="form-control" required name="NewPassWord" />
        <br />
        Nhập lại mật khẩu mới:
        <input type="password" placeholder="New PassWord" class="form-control" required name="reNewPassWord" />

        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div><p style="color:red">@ViewBag.ErrorMessage</p></div>
        }
        <br />
        <button type="submit" class="btn">
            <span class="state">Thay đổi</span>
        </button>
    </form>
 
</div>

