
@{
    ViewBag.Title = "Success";
}

<div class="alert alert-success text-center" style="padding:50px">
    Bạn vừa đặt hàng thành công! <br />
    Sẽ sớm có nhân viên liên hệ với bạn để xác nhận.<br />
    Đơn đặt hàng của bạn đã được gửi qua Email. Vui lòng giữ Email đó để xác thực về sau<br />
    <hr />
    <h3>Xin cảm ơn !</h3>
</div>

